<hr />
<h6>Sign up form</h6>
<form [formGroup]="userForm" class="flex flex-col mx-8 max-w-7xl" errorTailor>
  <label for="email">email</label>
  <input pInputText type="text"  formControlName="email" />

  <ng-template controlErrorAnchor #anchor="controlErrorAnchor"></ng-template>

  <label for="password">Password</label>
  <p-password type="text" size="small" formControlName="password" toggleMask="true" />
  <label for="confirmPassword">Confirm Password</label>
  <p-password
    type="text"
    toggleMask="true"
    size="small"
    [feedback]="false" 
    formControlName="confirmPassword"
    [controlErrorAnchor]="anchor"
  />
  <div>
    <label for="gender">Gender</label>
    <div><input type="radio" formControlName="gender" value="male" />Male</div>
    <div>
      <input type="radio" formControlName="gender" value="female" />Female
    </div>
  </div>
  <hr />
  <span >{{ 40000 | CurrencyPipe}}</span>
  <ng-container *ngIf="vm$ | async as vm">
    <div>
      <p>multi-select</p>
      <app-multi-select
        [options]="vm.options"
        formControlName="selectedOptions"
      ></app-multi-select>
    </div>
    <hr />

    <p>Address</p>
    <div class="form-group" formGroupName="address">
      <input
        pInputText
        class="form-control"
        formControlName="name"
        placeholder="Name"
      />
    </div>
    <section formGroupName="address">
      <div class="form-group">
        <input
          pInputText
          class="form-control"
          formControlName="city"
          placeholder="City"
        />
      </div>
      <div *ngIf="vm.loading">Loading countries...</div>
      <div class="select">
        <label for="country">Country</label>
        <p-select
          [options]="vm.countries"
          formControlName="country"
          class="w-full"
        >
        </p-select>
      </div>
    </section>
  </ng-container>

  <div class="flex gap-4 my-4">
    <div>
      <label
        for="dark"
        [class]="
          userForm.get('theme')?.value === 'dark'
            ? 'border-blue-500 border-2'
            : ''
        "
        class="cursor-pointer bg-gray-600 border w-20 h-20 rounded-lg grid place-content-center"
      ></label>
      <input
        id="dark"
        hidden
        type="radio"
        formControlName="theme"
        value="dark"
      />
      <span>Dark</span>
    </div>
    <div>
      <label
        for="light"
        [class]="
          userForm.get('theme')?.value === 'light'
            ? 'border-blue-500 border-2'
            : ''
        "
        class="cursor-pointer bg-white w-20 border h-20 rounded-lg grid place-content-center text-gray-600"
      ></label>
      <input
        type="radio"
        id="light"
        hidden
        formControlName="theme"
        value="light"
      />
      <span>Light</span>
    </div>
  </div>
  <div formArrayName="skills">
    <span>Skills:</span>
    <div
      class="flex gap-3"
      *ngFor="let skill of skills.controls; let i = index"
      [formGroupName]="i"
    >
      <div class="flex flex-col">
        <input
          pInputText
          formControlName="name"
          placeholder="Enter a name skill"
        />
      </div>
      <div class="flex flex-col">
        <input
          pInputText
          formControlName="level"
          placeholder="Enter a level of skill"
        />
      </div>
      <button pButton pRipple (click)="removeSkill(i)" type="button">
        Remove
      </button>
      <hr />
    </div>
  </div>
  <button
    pButton
    pRipple
    class="my-4 w-[200px]"
    type="button"
    (click)="addNewSkill()"
  >
    Add new skill
  </button>

  <button pButton pRipple severity="secondary" (click)="onSignUp()">
    Sign up
  </button>
</form>
